<%include header %>
    <%include topNav %>

  <div class="boxed">

    <!--CONTENT CONTAINER-->
    <!--===================================================-->
    <div id="content-container">

      <!--Page Title-->
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <div id="page-title">
        <h1 class="page-header text-overflow" ><%= title%></h1>
      </div>
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <!--End page title-->

      <!--Page content-->
      <!--===================================================-->
      <div id="page-content">
           <h3 class="text-normal text-mint">Latest Orders</h3>
           <div class="row">
               <div id="latestOrders">
                 <!-- start latestorder ---->
                 <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                   <div class="latestOrder">
                     <h3><a href="/details" class="text-pink"><u>Launch</u></a></h3>
                     <p>on</p>
                     <h4>13/1/2013</h4>
                   </div>
                 </div>
                 <!-- end latestorder ---->
              </div>
           </div>
           <hr>
           <h3 class="text-normal text-mint">Friends Activity</h3>
           <div class="row">

               <div id="activities">

                 <% data.forEach(function(activity){ %>
                   <script>
                      $(document).ready(function(){
                        friendActivity("<%=activity._id %>", "<%=activity.img %>", "<%=activity.name %>", "<%=activity.email %>",  "activity")
                      })
                   </script>
                <% })%>

              </div>

           </div>
      </div>
      <!--===================================================-->
      <!--End page content-->


    </div>
    <!--===================================================-->
    <!--END CONTENT CONTAINER-->





    <%include nav%>
  </div>



      <!-- FOOTER -->
      <!--===================================================-->
      <footer id="footer">
          <p class="pad-lft">&#0169; 2017 Yala Otlob</p>
      </footer>
      <!--===================================================-->
      <!-- END FOOTER -->


      <!-- SCROLL TOP BUTTON -->
      <!--===================================================-->
      <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
      <!--===================================================-->


<%include footer%>
